.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 33%;
  
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.col-2 {
  width: 50%;

  @media screen and (max-width: 1100px) {
    width: 100%;
  }
}

.col-1 {
  width: 100%;
}

.bg_gray-left-side {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    background: #eeeff2; 
    left: 0;
    top: -50px;
    width: 55%;
    height: 666px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    background: #8fab32; 
    right: 0;
    top: -50px;
    width: 20%;
    height: 2px;
  }
}

.bg_gray-right-side {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    background: #8fab32; 
    left: 0;
    top: 0;
    width: 10%;
    height: 2px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 0;
    background: #eeeff2; 
    right: 0;
    top: 0;
    width: 70%;
    height: 999px;
  }
}

.bg-green-elem-left-0 {
  position: relative;

  &::after {
    content: url('/image/content/bg-green-elem_0.png');
    position: absolute;
    z-index: 0;
    left: 0;
    top: -70px;
  }
}