// Extra board
.extra {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
  padding: 25px;
  margin-top: 70px;
  padding: 140px 0px 40px 120px;

  &__content-number {
    color: #8fab32;
    margin-bottom: 20px;
  }

  &__title {
    position: absolute;
    top: 50px;
    left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .pages {
    justify-content: flex-end;
  }
}

.bg_white-and-line {
  background: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 220px;
    background: #888;
  }
}