.bg_black {
  background: #000;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    padding: 0;
    padding-top: 110px;
  }

  &__logo {
    position: absolute;
    left: 25px;
    top: 30px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font: {
      family: "avenir-next-cyr-light";
      size: 15px;
    }
    line-height: 29px;
    letter-spacing: 0.7px;
  
    &.active {
      color: #8fca3b;
      border-bottom: #8fca3b 1px solid;
    }
  }

  &__list {
    padding: 30px;
  }

  &__social {
    position: absolute;
    right: 25px;
    top: 50px;

  ul {
    display: flex;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: #cbd862;

    a {
      color: #000;
    }
    }
  }
  }

  &__list-copyright {
    color: #a0a0a0;
  }
}