.sandwich {
  width: 200px;
  height: 80px;
  background: #8fab32;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    bottom: -74px;
    width: 75px;
    height: 75px;
    background: #8fab32;
  }
}